@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed');
/* font-family: 'Open Sans', sans-serif;
   font-family: 'Open Sans Condensed', sans-serif; */

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.sheet-flexrow {
    display: flex;
}

.sheet-flexcol {
    display: flex;
    flex: 1 1 50%;
    justify-content: space-around;
    margin: 8px;
}

.sheet-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.sheet-datasection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid #800d6d;
    padding: 8px;
    border-radius: 12px;
}

.sheet-item {
    display: flex;
    align-items: center;
}

.sheet-sectiontitle {
    font-size: 18px;
    color: #800d6d;
}

input {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    margin: 0px;
    background: transparent;
    padding: 0px;
    width: 24px;
}

.sheet-item input:focus {
    outline: none;
}

.sheet-player span {
    margin: 0px 6px;
}

.sheet-underline {
    border-bottom: 1px solid black;
    padding: 0px 6px 4px 0px;
    position: relative;
    top: 1px;
}

.sheet-grey {
    border-bottom: 1px solid black;
    padding: 0px 6px 4px 0px;
    position: relative;
    top: 1px;
    color: grey;
}

.sheet-datasection input {
    padding-bottom: 4px;
}

.sheet-linecontainer {
    display: flex;
}

.sheet-linecontainer .sheet-item {
    flex-basis: 100%;
}